p{
	color: red;
	font-size: 40px;
	font-family: Helvetica, Arial;
}

body{
	background-color: black;
}

*{
	margin: 0;
	padding: 0;
}

header{
	background-color: green;
	height: 100px;
}

footer{
	color: #000000;
	clear: both;
	background-color: rgb(73, 33, 33);
	height: 100px;
	text-align: center;
	padding: 10px;
	margin:0 auto;
}

#div_esquerda{
	background-color: red;
	min-height: 200px;
	width: 70%;
	float: left;
}

#div_direita{
	background-color: yellow;
	height: 200px;
	width: 30%;
	float: right;
}

.container{
	width: 960px;
	margin: 0 auto;
}

